flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CCM_Nurse_Directory_Enrollment_Info</name>
        <label>CCM Nurse Directory Enrollment Info</label>
        <locationX>1634</locationX>
        <locationY>4212</locationY>
        <actionName>Enrollment_Revalidation__c.PT61_CCM_Nurse_Directory_Enrollment_Information_Email_When_Application_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Complete_Date_populated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_14_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.PT61_CCM_Nurse_Directory_Enrollment_Information_Email_When_Application_Approved</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Encounter</name>
        <label>Create Encounter</label>
        <locationX>50</locationX>
        <locationY>3888</locationY>
        <actionName>CreateEncountersForTrainingNotifications</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete_Date_populated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_9_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listOfEnrolls</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateEncountersForTrainingNotifications</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Encounter0</name>
        <label>Create Encounter</label>
        <locationX>842</locationX>
        <locationY>3996</locationY>
        <actionName>CreateEncountersForTrainingNotifications</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete_Date_populated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_11_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listOfEnrolls</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateEncountersForTrainingNotifications</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Encounter_1</name>
        <label>Create Encounter</label>
        <locationX>1634</locationX>
        <locationY>4104</locationY>
        <actionName>CreateEncountersForTrainingNotifications</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CCM_Nurse_Directory_Enrollment_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_13_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listOfEnrolls</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateEncountersForTrainingNotifications</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Encounter_Record</name>
        <label>Create Encounter Record</label>
        <locationX>380</locationX>
        <locationY>3282</locationY>
        <actionName>CreateEncounters</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PTC2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_7_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listOfRevalidations</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateEncounters</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EVV15days</name>
        <label>EVV15days</label>
        <locationX>2866</locationX>
        <locationY>384</locationY>
        <actionName>Enrollment_Revalidation__c.EVV_15Days_Email_PT54_60</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>X15Days_Email_PT54</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.EVV_15Days_Email_PT54_60</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EVV_Initial_Email_GAFC</name>
        <label>EVV Initial Email GAFC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Enrollment_Revalidation__c.EVV_Initial_Email_PT54_60</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LTMS_Status_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Initial_Email_PT54</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.EVV_Initial_Email_PT54_60</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EVV_Initial_Email_HHA</name>
        <label>EVV Initial Email HHA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Enrollment_Revalidation__c.EVV_Initial_Email_PT54_60_HHA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LTMS_Status_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Initial_Email_PT60</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.EVV_Initial_Email_PT54_60_HHA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EVV_Reminder_Email</name>
        <label>EVV Reminder Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Enrollment_Revalidation__c.EVV_15Days_Email_PT54_60_HHA</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>X15Days_Email_PT_60</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.EVV_15Days_Email_PT54_60_HHA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Except_PTC2_and_PT61</name>
        <label>Except PTC2 and PT61</label>
        <locationX>842</locationX>
        <locationY>3888</locationY>
        <actionName>Enrollment_Revalidation__c.Except_PTC2_and_PT61_on_Application_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Encounter0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_10_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.Except_PTC2_and_PT61_on_Application_Approval</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PTC2_and_PT61_Training_Email</name>
        <label>PTC2 and PT61 Training Email</label>
        <locationX>50</locationX>
        <locationY>3780</locationY>
        <actionName>Enrollment_Revalidation__c.For_PTC2_and_PT61_on_Application_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Encounter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_8_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.For_PTC2_and_PT61_on_Application_Approval</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PTC2_and_PT61_Training_Email_0</name>
        <label>PTC2 and PT61 Training Email</label>
        <locationX>1634</locationX>
        <locationY>3996</locationY>
        <actionName>Enrollment_Revalidation__c.For_PTC2_and_PT61_on_Application_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Encounter_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_12_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.For_PTC2_and_PT61_on_Application_Approval</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_DH_Capacity_Letter</name>
        <label>Send DH Capacity Letter</label>
        <locationX>512</locationX>
        <locationY>2676</locationY>
        <actionName>EnrollmentRevalUpdateTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Complete_Reval_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EnrollmentRevalUpdateTriggerHelper</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_and_Update_the_Activity</name>
        <label>Send Email and Update the Activity</label>
        <locationX>512</locationX>
        <locationY>384</locationY>
        <actionName>ProviderOnboarding</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PT_54_60</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listOfApplications</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProviderOnboarding</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_Revalidation_contact_email_for_Complete_Revalidation</name>
        <label>Send email to Revalidation contact email for Complete Revalidation</label>
        <locationX>380</locationX>
        <locationY>3174</locationY>
        <actionName>Enrollment_Revalidation__c.Send_email_to_Revalidation_contact_email_for_Complete_Revalidation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Encounter_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_6_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrollment_Revalidation__c.Send_email_to_Revalidation_contact_email_for_Complete_Revalidation</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Sandbox_Recipients</name>
        <label>Send Email to Sandbox Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>bccAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@masshealthltss.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>ER Multiple Object Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sample Body for ER Multiple Object Flows Trigger from Sandbox.&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Sandbox_Recipients_15_days</name>
        <label>Send Email to Sandbox Recipients 15 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>bccAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@masshealthltss.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>ER Multiple Object Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sample Body for ER Multiple Object Flows Trigger from Sandbox.&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Sandbox_Emails</name>
        <label>Sandbox Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SandboxEmailsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ER_Multiple_Recipients.To_Email_Addresses__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Sandbox_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sandbox_Emails_15days</name>
        <label>Sandbox Emails 15days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SandboxEmailsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ER_Multiple_Recipients_15days.To_Email_Addresses__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Sandbox_Recipients_15_days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Application_with_CCS</name>
        <label>Application with CCS</label>
        <locationX>776</locationX>
        <locationY>2070</locationY>
        <defaultConnector>
            <targetReference>Validate_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_with_CCS_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2018-05-17T05:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Change_of_Corporate_Structure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_LTMS_Service_Location_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Create_CCS_Record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Application with CCS Check</label>
        </rules>
    </decisions>
    <decisions>
        <description>To send email specific to the provider type</description>
        <name>Check_if_Provider_Type_HHA_PT60</name>
        <label>Check if Provider Type HHA (PT60)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EVV_Initial_Email_GAFC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Type_HHA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOME HEALTH AGENCY (PT60)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EVV_Initial_Email_HHA</targetReference>
            </connector>
            <label>Provider Type HHA</label>
        </rules>
    </decisions>
    <decisions>
        <description>To send email specific to the provider type</description>
        <name>Check_if_Provider_Type_HHA_PT60_15_Days</name>
        <label>Check if Provider Type HHA (PT60)_15 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EVV15days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provider_Type_HHA_15_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOME HEALTH AGENCY (PT60)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EVV_Reminder_Email</targetReference>
            </connector>
            <label>Provider Type HHA_ 15 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_the_Application_is_Approved</name>
        <label>Check Whether the Application is Approved</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>PT_54_60</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Whether_the_Application_is_Approved_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>STATE AGENCY SERVICES (35)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MFP DEMONSTRATION (56)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>HOME CARE CORPORATION (68)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SPECIAL PROGRAMS (98)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_and_Update_the_Activity</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Whether the Application is Approved Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complete_Date_populated</name>
        <label>Complete Date populated</label>
        <locationX>776</locationX>
        <locationY>4770</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete_Date_populated_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Update_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Reval_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Complete Date populated Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSandbox</name>
        <label>IsSandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Whether_the_Application_is_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sandbox_Logic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SandboxCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sandbox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ER_Multiple_Recipients</targetReference>
            </connector>
            <label>Sandbox Logic</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSandbox_15Days</name>
        <label>IsSandbox 15Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Provider_Type_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sandbox_Logic_15_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SandboxCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sandbox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ER_Multiple_Recipients_15days</targetReference>
            </connector>
            <label>Sandbox Logic 15 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>LTMS_Status_Approved</name>
        <label>LTMS Status Approved</label>
        <locationX>776</locationX>
        <locationY>1380</locationY>
        <defaultConnector>
            <targetReference>LTMS_Status_Denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LTMS_Status_Approved_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Completed_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>LTMS Status Approved Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>LTMS_Status_Denied</name>
        <label>LTMS Status Denied</label>
        <locationX>1172</locationX>
        <locationY>1488</locationY>
        <defaultConnector>
            <targetReference>Application_with_CCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LTMS_Status_Denied_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Completed_Date_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>LTMS Status Denied Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Neither_PTC2_nor_PT61</name>
        <label>Neither PTC2 nor PT61</label>
        <locationX>1502</locationX>
        <locationY>3780</locationY>
        <defaultConnector>
            <targetReference>PT61</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Neither_PTC2_nor_PT61_Check</name>
            <conditionLogic>1 AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CSN AGENCY (PTC2)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>INDEPENDENT NURSE (PT61)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Except_PTC2_and_PT61</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Neither PTC2 nor PT61 Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prod_Enable</name>
        <label>Prod Enable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Whether_the_Application_is_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prod_Enable_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ER_Multiple_Recipients.Prod_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sandbox_Emails</targetReference>
            </connector>
            <label>Prod Enable False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prod_Enable_15_days</name>
        <label>Prod Enable 15 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Provider_Type_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prod_Enable_False_15_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ER_Multiple_Recipients_15days.Prod_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Sandbox_Emails_15days</targetReference>
            </connector>
            <label>Prod Enable False 15 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provider_Type_Check</name>
        <label>Provider Type Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT54_60</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOME HEALTH AGENCY (PT60)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GROUP ADULT FOSTER CARE (GAFC) (PT54)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EncounterPT54_60_15Days</targetReference>
            </connector>
            <label>PT54/60</label>
        </rules>
    </decisions>
    <decisions>
        <name>PT61</name>
        <label>PT61</label>
        <locationX>2162</locationX>
        <locationY>3888</locationY>
        <defaultConnector>
            <targetReference>Complete_Date_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT61_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INDEPENDENT NURSE (PT61)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTC2_and_PT61_Training_Email_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PT61 Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>PT_54_60</name>
        <label>PT 54/60</label>
        <locationX>776</locationX>
        <locationY>774</locationY>
        <defaultConnector>
            <targetReference>LTMS_Status_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProviderTypeCheck</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GROUP ADULT FOSTER CARE (GAFC) (PT54)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOME HEALTH AGENCY (PT60)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AppCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EncounterPT54_60</targetReference>
            </connector>
            <label>ProviderTypeCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>PTC2</name>
        <label>PTC2</label>
        <locationX>776</locationX>
        <locationY>3672</locationY>
        <defaultConnector>
            <targetReference>Neither_PTC2_nor_PT61</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTC2_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSN AGENCY (PTC2)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTC2_and_PT61_Training_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PTC2 Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Complete_Reval_Notification</name>
        <label>Send Complete Reval Notification</label>
        <locationX>776</locationX>
        <locationY>3066</locationY>
        <defaultConnector>
            <targetReference>PTC2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Complete_Reval_NotificationCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed revalidation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revalidation_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revalidation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_Revalidation_contact_email_for_Complete_Revalidation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Complete Reval NotificationCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Approved</name>
        <label>Validate Approved</label>
        <locationX>776</locationX>
        <locationY>2568</locationY>
        <defaultConnector>
            <targetReference>Send_Complete_Reval_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validate_Approved_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LTMS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DAY HABILITATION (PT64)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_DH_Capacity_Letter</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Validate Approved Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SandboxCheck</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Api.Partner_Server_URL_640}, &quot;sandbox&quot;), &quot;Sandbox&quot;, &quot;Production&quot;)</expression>
    </formulas>
    <interviewLabel>ER {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ER: Multiple Object Flows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_10_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 10 of ER: Multiple Object Flows Fault</label>
        <locationX>1370</locationX>
        <locationY>3996</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Encounter0</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_11_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 11 of ER: Multiple Object Flows Fault</label>
        <locationX>1106</locationX>
        <locationY>4104</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Complete_Date_populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_12_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 12 of ER: Multiple Object Flows Fault</label>
        <locationX>2426</locationX>
        <locationY>4104</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Encounter_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_13_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 13 of ER: Multiple Object Flows Fault</label>
        <locationX>2162</locationX>
        <locationY>4212</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CCM_Nurse_Directory_Enrollment_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_14_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 14 of ER: Multiple Object Flows Fault</label>
        <locationX>1898</locationX>
        <locationY>4320</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Complete_Date_populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 1 of ER: Multiple Object Flows Fault</label>
        <locationX>1172</locationX>
        <locationY>1704</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Application_with_CCS</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 2 of ER: Multiple Object Flows Fault</label>
        <locationX>776</locationX>
        <locationY>2286</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Validate_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 3 of ER: Multiple Object Flows Fault</label>
        <locationX>776</locationX>
        <locationY>4986</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 4 of ER: Multiple Object Flows Fault</label>
        <locationX>776</locationX>
        <locationY>492</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PT_54_60</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 5 of ER: Multiple Object Flows Fault</label>
        <locationX>776</locationX>
        <locationY>2784</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Complete_Reval_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_6_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 6 of ER: Multiple Object Flows Fault</label>
        <locationX>908</locationX>
        <locationY>3282</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Encounter_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_7_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 7 of ER: Multiple Object Flows Fault</label>
        <locationX>644</locationX>
        <locationY>3390</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PTC2</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_8_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 8 of ER: Multiple Object Flows Fault</label>
        <locationX>578</locationX>
        <locationY>3888</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Encounter</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_9_of_ER_Multiple_Object_Flows_Fault</name>
        <label>Copy 9 of ER: Multiple Object Flows Fault</label>
        <locationX>314</locationX>
        <locationY>3996</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Complete_Date_populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EncounterPT54_60</name>
        <label>Create EncounterPT54/60</label>
        <locationX>380</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>Check_if_Provider_Type_HHA_PT60</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Encounter_PT54_60</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Call_Description__c</field>
            <value>
                <elementReference>CallDescriptionPT54_60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason_Detail__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_type_c__c</field>
            <value>
                <stringValue>Enrollment &amp; Revalidation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communicated_With__c</field>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Method__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_and_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition__c</field>
            <value>
                <stringValue>Resolved / Answered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <stringValue>English</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01241000000yuHUAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <object>Encounter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EncounterPT54_60_15Days</name>
        <label>Create EncounterPT54/60/15Days</label>
        <locationX>2866</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Check_if_Provider_Type_HHA_PT60_15_Days</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Encounter_PT54_60_15_Days</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Call_Description__c</field>
            <value>
                <elementReference>CallDescriptionPT54_60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Reason_Detail__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_type_c__c</field>
            <value>
                <stringValue>Enrollment &amp; Revalidation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communicated_With__c</field>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Method__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_and_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition__c</field>
            <value>
                <stringValue>Resolved / Answered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <stringValue>English</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01241000000yuHUAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <object>Encounter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Encounter_PT54_60</name>
        <label>Encounter PT54/60</label>
        <locationX>908</locationX>
        <locationY>990</locationY>
        <inputAssignments>
            <field>Batch_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Encounter_PT54_60_15_Days</name>
        <label>Encounter PT54/60 15 Days</label>
        <locationX>3394</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Batch_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ER_Multiple_Object_Flows_Fault</name>
        <label>ER: Multiple Object Flows Fault</label>
        <locationX>644</locationX>
        <locationY>1596</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Application_with_CCS</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>ER: Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Initial_Email_PT54</name>
        <label>Initial Email PT54</label>
        <locationX>644</locationX>
        <locationY>1098</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LTMS_Status_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Batch_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Initial_Email_PT60</name>
        <label>Initial Email PT60</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LTMS_Status_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Batch_Name__c</field>
            <value>
                <stringValue>ER Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X15Days_Email_PT54</name>
        <label>15Days Email PT54</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Batch_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X15Days_Email_PT_60</name>
        <label>15Days Email PT 60</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Batch_Name__c</field>
            <value>
                <stringValue>ER Multiple Object Flows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Enrollment, Revalidation, Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ER_Multiple_Recipients</name>
        <label>ER Multiple Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prod_Enable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Component_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER_Multiple_Object_Flows</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SandboxEmailRecipient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ER_Multiple_Recipients_15days</name>
        <label>ER Multiple Recipients 15days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prod_Enable_15_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Component_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER_Multiple_Object_Flows</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SandboxEmailRecipient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Create_CCS_Record</name>
        <label>Check &apos;Create CCS Record&apos;</label>
        <locationX>512</locationX>
        <locationY>2178</locationY>
        <connector>
            <targetReference>Validate_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Create_CCS_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Service_Locations__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Completed_Date</name>
        <label>Populate Completed Date</label>
        <locationX>380</locationX>
        <locationY>1488</locationY>
        <connector>
            <targetReference>Application_with_CCS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Completed_Date_0</name>
        <label>Populate Completed Date</label>
        <locationX>908</locationX>
        <locationY>1596</locationY>
        <connector>
            <targetReference>Application_with_CCS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Reval_Date</name>
        <label>Update Next Reval Date</label>
        <locationX>512</locationX>
        <locationY>4878</locationY>
        <faultConnector>
            <targetReference>Copy_3_of_ER_Multiple_Object_Flows_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Next_Revalidation_Date__c</field>
            <value>
                <elementReference>$Record.Next_Recredentialling_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.PID_SL__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>1695</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsSandbox</targetReference>
        </connector>
        <object>Enrollment_Revalidation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X15DaysofInitialEmail</name>
            <connector>
                <targetReference>IsSandbox_15Days</targetReference>
            </connector>
            <label>15DaysofInitialEmail</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Approved_Time_Stamp__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>240</triggerOrder>
    <variables>
        <name>AppCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application</stringValue>
        </value>
    </variables>
    <variables>
        <name>CallDescriptionPT54_60</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EVV instructions sent to legal email on file</stringValue>
        </value>
    </variables>
    <variables>
        <name>FlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ER Multiple Object Flows</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordtypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application</stringValue>
        </value>
    </variables>
    <variables>
        <name>SandboxEmailsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>noreply@optum.com</stringValue>
        </value>
    </variables>
</Flow>
